@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202124;
    font-family: 'Montserrat', sans-serif;
}
#content {
    width: 50vw;
}
h1 {
    color: #8ab4f8;
    text-align: center;
    font-weight: 600;
    margin: 8vh 0 5vh 0
}
.form-group {
    display: flex;
    gap: 2vw;
    margin-bottom: 3vh;
}
.form-control, .form-control input:focus, .form-control input::after, .form-control input:-webkit-autofill, .btn-primary, #search-div, .select-control {
    background-color: #202124;
    font-weight: 500;
    border-radius: 20px;
    height: 5.5vh;
    width: 100%;
    color: rgb(216, 216, 216);
    text-indent: 0.5vw;
    border: 1px solid rgb(181, 181, 181);
    box-shadow: 0 0 0 0;
}
input:-webkit-autofill, input::selection {
    -webkit-box-shadow: 0 0 0 30px #202124 inset;
    -webkit-text-fill-color: rgb(216, 216, 216);
    background-color: #202124 !important;
}
.form-control::placeholder, .select-control::placeholder {
    color: rgb(163, 163, 163);
}
.form-control:focus, .select-control:focus  {
    background-color: #202124;
    border-color: #8ab4f8;
    color: white;
}
.select-control {
    color: rgb(163, 163, 163);
}
#select-autor {
    border: 1px solid rgb(181, 181, 181);
    width: 100%;
    border-radius: 20px;
    font-weight: 500;
    overflow-y: auto;
}
.selecteds {
    min-height: 5.5vh;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.option {
    display: none;
    align-items: center;
    justify-content: center;
    color: rgb(163, 163, 163);
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid rgba(181, 181, 181, 0.24);
    cursor: pointer;
}
.option:hover {
    background-color: rgba(232,234,237,.04);
}
.option:nth-last-child(-n + 1) {
    border-bottom: none;
}
.placeholder-select {
    color: rgb(163, 163, 163);
}
.selecteds div {
    background-color: #16161823;
    padding: 0 0.5vw;
    border-radius: 10px;
    height: 3.5vh;
    margin: 1vh 0.5vw;
    gap: 0.3vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selecteds div span {
    font-size: 0.65vw;
}
.selecteds .icon {
    margin-top: 0.vh;
    cursor: pointer;
}
.btn-primary {
    font-weight: 600;
    background-color: #8ab4f8;
    color: #202124;
    border: none;
}
.btn-primary:hover {
    background-color: #ffffff;
    color: #202124;
}

::-webkit-scrollbar {
    width: 10px;
    margin: 2vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 0 0;
    margin: 2vh 0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(163, 163, 163); 
    border-radius: 10px;
  }
 